<h1><%= @user.name %></h1>
<h2>Details</h2>
<div class="detail-list center"><ul>
<li><%= "Phone Number: #{@user.phone_number}" %></li>
</ul></div>

<div class="detail-list"><ul>
<% if @user.lawyer == true %>
  <li><%= "State of Practice: #{@user.state}"%></li>
  <li><%= "Years of Experience: #{@user.years_experience}"%></li>
<% end %>
</ul></div>

<div class='link-buttons center'><%= link_to "Edit Profile", edit_user_path(@user.id) %></div>
<div class='link-buttons center'><%= link_to "Delete Profile", user_path(@user.id), method: :delete, data: { confirm: "Really?"} %></div>

<% if @user.lawyer == false %>
  <h2><%= "Requests" %></h2>
  <div><ul>
    <% @user.client_requests.each do |req|%>
      <li>
      <%= link_to req.title, request_path(req.id) %>
      <%= link_to "Edit", edit_request_path(req.id) %>
      <%= link_to "Delete", request_path(req.id), method: :delete, data: { confirm: "Really?"} %>
      </li>
    <% end %>
  </ul></div>
  <div class='link-buttons center'><%= link_to "Create New Request", new_request_path %></div>
<% end %>


