
<div class="row"></div>

<div class="profile col-3">
  <h1><%= @user.name %></h1>

  <div class="contact-info center">
    <h3>Contact</h3>
    <div class="detail-list center">
      <ul>
        <li><%= "Phone Number: #{@user.phone_number}" %></li>
      </ul>
    </div>
  </div>


  <div class="lawyey-details center">
    <ul>
      <% if @user.lawyer == true %>
      <li><%= "State of Practice: #{@user.state}"%></li>
      <li><%= "Years of Experience: #{@user.years_experience}"%></li>
      <% end %>
    </ul>
  </div>
  <div class='link-buttons center'><%= link_to "Edit Profile", edit_user_path(@user.id) %></div>
  <div class='link-buttons center'>
    <%= link_to "Delete Profile", user_path(@user.id), method: :delete, data: { confirm: "Really?"} %></div>
</div>


<div class="card-container col-8">
  <h2>
    <span>Requests</span>
    <span class="badge">
      <% if @user.lawyer == false %>
      <%= @user.client_notification_count unless @user.client_notification_count == 0 %>
      <% else %>
      <%= @user.pending_count unless @user.pending_count == 0 %>
      <% end %>
    </span>
  </h2>
  
    <% if @user.lawyer == false %>
      <div class="consult-container center col-12">
      <% @user.requests.each do |req|%>
        <h4><%= link_to req.title, request_path(req.id) %></h4>
        <% if req.consult %>
        <%= link_to "Consult with: " + req.consult.lawyer.name, consult_path(req.consult.id) %>
        <% end %>
      <div class="link-buttons">
        <%= link_to "Edit", edit_request_path(req.id) %>
        <%= link_to "Delete", request_path(req.id), method: :delete, data: { confirm: "Really?"} %>
      </div>
      <% end %>
      </div>
    <% else %>
    <div class="consult-container center col-12">
      <% @user.pending_requests.each do |con| %>
        <div class="consult-card">
          <a href= <%= request_path(con.request.id) %> >
            <div class="consult-card-image"></div>
          </a>
          <div class="consult-card-description">
            <h4> <%= link_to con.request.title, consult_path(con.id) %> </h5>
              <p>Name: <%= con.request.client.name unless con.request.client.nil? %></p>
              <p>Created: <%= con.request.created_at.strftime("%b %d, %Y") %></p>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
  </ul>
</div>

<% if @user.lawyer == false %>
<div class='link-buttons center'><%= button_to "Create New Request", new_request_path, method: :get %></div>
<% end %>

</div>