<h1><%= @user.name %></h1>
<h2>Details</h2>
<div class="detail-list"><ul>
<li><%= "Phone Number: #{@user.phone_number}" %></li>
</ul></div>

<div class="detail-list"><ul>
<% if @user.lawyer == true %>
  <li><%= "State of Practice: #{@user.state}"%></li>
  <li><%= "Years of Experience: #{@user.years_experience}"%></li>
<% end %>
</ul></div>

<h2>Requests</h2>
<div><ul>
  <% @user.client_requests.each do |req|%>
    <li><%= link_to req.title, request_path(req.id) %></li>
  <% end %>
</ul></div>


