<h1><%= @consult.request.title %></h1>
<h2>Request created by: <%= @consult.client.name %></h2>
<h2>Being reviewed by: <%= @consult.lawyer.name %></h2>
<h2>Consultation Appointment</h2>
<% if @consult.time %>
<h3 class='center'>Time: <%= @consult.time.strftime("%b %e at %l:%M %p ") %></h3>
<h3 class='center'>Place: <%= @consult.location %></h3>
<% else %>
<div class=" link-buttons center">
<%= link_to "Accept Consult", edit_consult_path(@consult.id) %>
<br>
<%= link_to "Reject Consult", consult_path(@consult.id), method: :delete %>
<br>
<%= link_to "View Request Details", request_path(@consult.request_id) %>
</div>
<% end %>



<div>
  <% if current_user.lawyer == true && @consult.status != "completed" %>
  <%= form_for @consult, url: consult_path(@consult.id), :method => :patch do |f| %>
  <%= f.hidden_field :status, :value => "completed"  %>
  <%= f.submit "Consult Completed" %>
  <% end %>
  <% end %>
</div>

<div>
<% if current_user.lawyer == false%>
  <%= form_tag consult_path(@consult.id), method: :delete  do %>
  <%= submit_tag "Cancel Consult", :id => "cancelbutton" %>
  <% end %>
<% end %>
</div>