<h1><%= @consult.request.title %></h1>
<h2>Request created by: <%= @consult.client.name %></h2>
<h2>Being reviewed by: <%= @consult.lawyer.name %></h2>
<h2>Consultation Appointment</h2>
<h3>Time: <%= @consult.time.strftime("%b %e at %l:%M %p ") %></h3>
<h3>Place: <%= @consult.location %></h3>
<%= link_to "View Request Details", request_path(@consult.request_id) %>
<div>
  <% if current_user.lawyer == true %>
  <%= form_tag consults_path, :method => :post do %>
  <%= hidden_field_tag :status, "completed" %>
  <%= submit_tag "Consult Completed" %>
  <% end %>
  <% end %>
</div>
