<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "(INSERT ICON HERE)", 'link to homepage?', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user.lawyer == false %>
            <li><%= link_to "Browse", users_path %></li>
            <% else %>
            <li><%= link_to "Browse", requests_path %></li>
            <% end %>
            <% if session[:user_id] %>
            <li><%= link_to "My Profile", user_path(session[:user_id]) %></li>
            <% end %>
            <li><%= link_to "Help", help_path %></li>
            <li>
              <% if !session[:user_id] %>
              <%= link_to "Log in", login_path %>
              <% else%>
              <%= link_to "Log out", logout_path %>
              <% end %>
            </li>
          </ul>
        </nav>
    </div>
</header>